
  th {
    background-color: silver;
  }         
         
  /* add hover effect for table rows */  
  td.hovered {  
     background-color: lightskyblue; 
  }

    
  th.sortable {
    cursor: pointer;
    padding-right: 23px;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url('i/bg.gif');
  }
      
  th.sortable.sorted-asc,
  th.sortable.sorted-desc  {
    color: white;
    background-color: grey;
  }
  
  th.sortable.sorted-asc {
    background-image: url('i/asc.gif');
  }

  th.sortable.sorted-desc {
    background-image: url('i/desc.gif');
  }
  

  th.sortable:hover {
    color: black;
    background-color: yellow; 
    text-decoration: underline;    
  }
  
  